<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary text-center">
        <menu></menu>
    </nav>
</header>

<div class="main-content back-trasparente">
    <form name="formSolicitacaoCadastro" ng-submit="solicitarCadastro(form)" novalidate>
        <div class="row gutters">

            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="row">
                    <div class="col"></div>
                    <div class="col-xl-9 col-lg-10 col-md-10 col-sm-12">
                        <div class="card">
                            <div class="card-header bg-primary text-white">Busca de Livros</div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="form-group col-md-8">
                                        <label for="email" class="col-form-label">Buscar pelo nome do livro <span class="text-danger">*</span></label>
                                        <input type="text" class="form-control" id="livro" name="livro" ng-model="form.livro" placeholder="Livro" required>
                                    </div>

                                    <div class="col-md-4">
                                        <button type="button" ng-disabled="!form.livro" ng-click="buscarLivro(form)" class="btn btn-outline-primary btn-block btn-top-busca"><span class="icon-zoom"></span> Buscar</button>
                                    </div>
                                </div>

                                <hr>

                                <div class="row" ng-show="cadastrou">
                                    <div class="col-sm-12">
                                        <div class="alert alert-warning">
                                            <h6>
                                                <i class="icon-warning2"></i>
                                                <strong class="text-success">Sucesso!</strong>
                                            </h6>
                                            <p>Livro cadastrado com sucesso</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="row " ng-if="livro.titulo">
                                    <div class="col-md-12">
                                        <h5>
                                            <strong class="text-primary" ng-bind="livro.titulo"></strong>
                                        </h5>
                                    </div>
                                    <div class="col-md-3" ng-if="livro.capa != 'N/A'">
                                        <img class="img-fluid img-thumbnail" ng-src="{{livro.capa}}">
                                    </div>
                                    <div class="col-md-9">
                                        <span ng-bind="livro.resumo"></span>
                                        <button type="button" ng-if="existe && !cadastrou" ng-click="adicionarLivro()" class="btn btn-outline-primary btn-block btn-top-busca"><span class="icon-plus-outline"></span> Adicinar a minha lista</button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col"></div>
                </div>

            </div>
        </div>
    </form>
</div>